body {
	margin-top: 50px; 
}
.hero-spacer {
	margin-top: 50px;
}

.hero-feature {
	margin-bottom: 30px;
}

footer {
    width: 100vw;
    height: 70px;
    line-height: 70px; /* Vertically center the text there */
    background-color:  #333;
	color: #777;
}
